
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


body{

    font-size: 20px;
     line-height: 1.5;
     background-color: maroon;
     border-color:rgb(255, 228, 196);
     font-family: "Noto Sans JP", sans-serif;
}      
      img{
        width: 500px;
        border-radius: 3px;
      }
]
     {


     }
